{% extends "layouts/default_layout.njk" %}
{%-
  set meta_tags = {
    title: "ディレクトリを切ると /sample2 でアクセスできます",
    description: "",
    url: "",
    ogp_image: ""
  }
-%}

{% block content %}
  <p>
    ディレクトリを分割したsample2ファイルです。
  </p>
{% endblock %}
